body{
    background-color: #f1f0f1;
}
/*#container{
    
}*/
#words{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#insert{
    border: none;
    border-radius:5px;
    margin:20px;
    padding:10px;
    font-size: 16px;
    width: 300px;
}
#start_button{
    width: 60px;
    background-color: #5cb85c;
    border:none;
    border-radius: 5px;
    padding:5px;    
    margin-bottom: 10px;
    cursor: pointer;
}
#start_button:hover{
    background-color: #4cae4c;
}
#keyboard{
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}
.row{
    display: flex;
    gap:5px;
}
.key{
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    border-radius:5px;
    cursor:pointer;
}
/*.key:hover{
    background-color: aqua;
    color:red;
}*/
.key_space{
    width: 230px;
    padding:10px;
    border:1px solid black;
    text-align: center;
    border-radius: 5px;
}
.key_back_space{
    width: 100px;
    border: 1px solid black;
    text-align:center;
    border-radius: 5px;
    padding:10px
}
